{% extends "blog/base.html" %}

{% block title %} <title>Main page</title>{% endblock %}

{% block body %}
    {% if post_list %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in post_list %}
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.clipped_text }}</p>
                        <a href="/view/{{ post.id }}" class="btn btn-primary">Read...</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No Posts are available.</p>
    {% endif %}
{% endblock %}

